<section class="todo-form-container">
  <form [formGroup]="todoForm" autocomplete="off" (ngSubmit)="onSubmit()">
    <div class="field">
      <label class="label" for="inputDescriptionTodo">Ingresa la descripción de la tarea</label>
      <section class="control">
        <input
          class="input"
          type="text"
          id="inputDescriptionTodo"
          formControlName="description"
          placeholder="Buy some eggs"
          #input/>
      </section>
    </div>

    <section class="field form-buttons-container">
      <button class="button is-primary" type="submit" id="btnAddTodo" [disabled]="input.value.length === 0">Añadir tarea</button>
      <button class="button is-danger" type="button" id="btnClearTodos" [disabled]="dataList.length <= 0" (click)="deleteAllTask()">
        Limpiar lista
      </button>
    </section>
  </form>

</section>
